/********** Sane Defaults **********/
img {
    border: 0 none;
}
a {
    color: #0B76AE;
    text-decoration: none;
}
/********** Body **********/
html {overflow-y: scroll;}
body {
    background-color: white;
    font-family: "sans serif";
    margin:0ex 1ex;
    padding: 0px;
}
div#content {
    width: 980px;
    margin: 0 auto;
    padding: 0px;
    background: white;
}

/********** Header **********/
div#header {
    background-color:white;
    /* height:45px; */
	color: white;
	letter-spacing: 1px;
	font-size: 0.9em;
	font-weight: bold;
    margin:0;
    padding:0;
}
div#header a{
    text-decoration: none;
}
#blog_name {
    color:black;
    /* font-family: Arial,Helvetica,sans-serif; */
    font-size: 2em;
    letter-spacing:0.1em;
    padding:10px 5px 10px 5px;
    text-decoration:none;
	font-weight: bold;
	vertical-align: bottom;
	margin: 1em;
}
#blog_logo {
    float:right;
    margin:0;
    padding:0;
    position:relative;
    right:100px;
    top:0;
    z-index:1;
}
/********** Top Bar **********/
#top_bar a, #top_bar a:visited {
  padding: 3px 10px 3px 10px;
  color: white;
  text-decoration: none;
}
#top_bar a:hover, #top_bar a:hover {
  color: #558195;
  background-color: white;
}

#top_bar {
	padding: 5px 10px 5px 10px;
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
	letter-spacing: 1px;
	background-color: #558195;
	color: white;
}
#search {
    float:right;
    margin:0;
    padding:0;
    position:relative;
    right:10px;
    top:-22px;
}
#search input {
    border:1px solid #66A8CC;
    padding:2px;
    width:160px;
}

/********** Main Block **********/
div#prose_block {
    float: left;
    margin:0;
    padding:0 0 10px 10px;
    width: 660px; 
}
div#prose_block h2 {
    font-size:1.2em;
    font-weight:normal;
    margin:20px 0 0;
    padding:0;
    text-decoration:none;
	color:black;
}
div#prose_block h2.intrablog {
    color:#000000;
    margin-bottom: 20px;
}
span.post_prose {
    font-size:1.0em;
    line-height:1.6em;
}
.blog_post small {
    /* font-family:Arial,Helvetica,Sans-Serif; */
    font-size:0.8em;
}
div.blog_post {
    margin: 0;
    padding: 0;
}
.post_prose pre {
    background:#F1F1FF none repeat scroll 0 0; 
    border:1px solid #BBBBBB;
    color:#000000;
    font-size:0.85em;
    overflow:auto;
    padding:5px;
    clear:none;
    float:none;
    line-height:1.333;
    margin:0;
    overflow:visible;
    width:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}

h2.blog_post_title a:hover {
    background:transparent none repeat scroll 0 0;
    /* color:#6EB9E0; */
}
h2.blog_post_title a {
    color:#0090DA;
    font-size:1.2em;
    font-weight:normal;
    margin:40px 0 0;
    padding:0;
    text-decoration:none;
}
div.blog_post small a:hover {
    background:#0090DA none repeat scroll 0 0;
    color:#FFFFFF;
}
.post_prose a:hover {
    background:#0090DA none repeat scroll 0 0;
    color:#FFFFFF;
}
.post_prose a {
    color:#0B76AE;
    text-decoration:none;
}
div.after_post {
    margin-top: 20px;
    text-align: center;
    font-size: 75%;
}
div.after_post a:hover {
    background:#0090DA none repeat scroll 0 0;
    color:#FFFFFF;
}
hr.interblog {
    background-color: #eeeeee;
    border:0 none;
    color:#555555;
    height:1px;
    width:90%;
}

/********** Sidebar **********/
div#right_sidebar {
    float: right;
    width:220px;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 10px;
    border-left: 1px solid #eeeeee;
}
#right_sidebar div {
    margin: 20px 0;
    padding: 0;
}
#right_sidebar h3 {
    background:transparent url(/site_img/dot.gif) repeat-x scroll center bottom;
    color:#174B65;
    font-size:0.9em;
    font-weight:normal;
    letter-spacing:0.2em;
    margin:0;
    padding:0;
    text-transform:uppercase;
}
#right_sidebar h3 small {
    text-transform:none;
    letter-spacing:0.0em;
}
#right_sidebar a {
    color:#0B76AE;
    text-decoration: none;
}
#right_sidebar a:hover {
    background:transparent url(/site_img/dot.gif) repeat-x scroll center bottom;
    color:#0B76AE;
}
#right_sidebar ul, #right_sidebar ol {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:5px;
}
ul#twitter_update_list li {
    margin-bottom:1em;
}

/********** Footer **********/
div#footer {
    clear: both;
}
#credits {
    color:white;
    background:#558195 none repeat scroll 0 0;
    /* font-family:Small Fonts,VT100,Arial,Helvetica; */
    font-size:0.75em;
    margin:0;
    padding:5px 20px;
    text-align:center;
    text-transform:uppercase;
}
#credits a {
    color:#00AAFF;
}
#credits a:hover {
    background:transparent none repeat scroll 0 0;
    color:#00CCFF;
}
